<!DOCTYPE html>
<html>

<head>
    <title>OAuth2 Mock Server</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>OAuth2 Mock Server</h1>
        <div class="callout warning">This is a mock OAuth2 authorization server <strong>only</strong>
            for testing purposes.</div>

        <h2>Users from the configuration</h2>

        <table class="users-table">
            <thead>
                <th>Login</th>
                <th>Description</th>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{login}}</td>
                    <td>{{description}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <h2>Available Endpoints:</h2>

        <div class="endpoint">
            <h3>Login Form</h3>
            <p><code>GET /login</code></p>
            <p>Set this endpoint as authorization URI</p>
            <p>Display all registered users with links to authorize</p>
        </div>

        <div class="endpoint">
            <h3>Authorization Endpoint</h3>
            <p><code>GET /authorize</code></p>
            <p>Returns authorization code via redirect.</p>
            <p>Parameters:login, response_type, client_id, redirect_uri, scope, state</p>
        </div>

        <div class="endpoint">
            <h3>Token Endpoint</h3>
            <p><code>POST /token</code></p>
            <p>Set this endpoint as token URI</p>
            <p>Parameters: grant_type, code, redirect_uri, client_id, client_secret,
                code_verifier, refresh_token</p>
        </div>

        <div class="endpoint">
            <h3>User Info Endpoint</h3>
            <p><code>GET /userinfo</code></p>
            <p>Headers: Authorization: Bearer &lt;access_token&gt;</p>
            <p>You can configure header's value prefix. See the application's
                configuration</p>
        </div>
    </div>
</body>

</html>